body{
    font-family: 'Heebo', sans-serif;
    margin: 0;
}
p{
    color: dimgray;
}

.top-banner{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;

}

.half-width{
    width: 40%;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    padding-left: 2%;

}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.half-width img{
    width: 100%;
}
.pink-highlight{
    color: #e9156d9a;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;

}

.biography-area{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.work-area{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
}
.latest-img{
    float: left;
}
.client-area{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;

}

footer p{
    text-align: center;
    font-size: 14px;
 }